.editorInput {
    height: 100%;
    outline: 0;
    padding: 15px 10px;
    overflow-y: auto;
}

.editorPlaceholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}
